@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.article {
  background-color: white;
  @include flex($direction: column);
  gap: 3.6rem;
  padding: 4.8rem 3.6rem 3.6rem 3.6rem;
  @include fix(phone) {
    padding: 2.4rem 1.6rem 1.6rem 1.6rem;
    gap: 1.6rem;
  }

  &__heading {
    @include text-style(700);
    @include text-size(4.4rem, 3.6rem);
    display: flex;
    width: 87%;
    @include fix(tablet) {
      width: 100%;
    }
    @include fix(phone) {
      @include text-size(3.2rem, 2.4rem);
    }
  }
  &__image {
    display: inline-flex;
    width: 100%;
    max-height: 43vw;
    @include fix(tablet) {
      max-height: 48vw;
    }
    @include fix(phone) {
      max-height: 55vw;
    }
  }
  &__caption {
    @include text-style(600);
    @include text-size(3.2rem, 2.4rem);
    width: 81%;
    padding-top: 3.6rem;
    @include fix(tablet) {
      width: 100%;
    }
    @include fix(phone) {
      padding-top: 1.6rem;
      @include text-size(2.2rem, 1.4rem);
    }
    &--mod {
      @include text-style(700);
      @include text-size(2.2rem, 1.4rem);
      padding-top: 2rem;
      @include fix(phone) {
        padding-top: 1rem;
        @include text-size(2rem, 1.3rem);
      }
    }
  }
  &__box {
    align-self: center;
    @include flex($direction: column, $items: flex-start);
    width: 76%;
    @include fix(tablet) {
      width: 90%;
    }
    @include fix(phone) {
      width: 100%;
    }
  }
  &__text-box {
    align-self: center;
    @include flex($direction: column, $items: flex-start);
    gap: 3.6rem;
    width: 76%;
    margin-top: 1rem;
    @include fix(tablet) {
      width: 90%;
    }
    @include fix(phone) {
      width: 100%;
      gap: 1.6rem;
      margin-top: 0.8rem;
    }
  }
  &__wrapper {
    @include flex($content: space-between);
    gap: 1rem;
    @include fix(phone) {
      gap: 1.6rem;
    }
    @include fix(phone) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__sub-heading {
    @extend .article__caption;
    padding-top: 0;
  }
  &__text {
    @include text-size(2.2rem, 1.4rem);
    @include text-style(400);
    font-size: 1.4rem;
    width: 44%;
    padding: 0;
    @include fix(phone) {
      @include text-size(1.8rem, 1.3rem);
      width: 100%;
    }
  }
}
.gallery {
  background-color: $alabaster;
  padding: 4.8rem 3.6rem 3.6rem 3.6rem;
  @include flex($direction: column);

  gap: 3.6rem;
  @include fix(phone) {
    padding: 2.4rem 1.6rem 2.4rem 1.6rem;
    gap: 1.6rem;
  }

  &__heading {
    @extend .article__heading;
    width: 87%;
    display: flex;
    @include fix(tablet) {
      width: 100%;
    }
  }
  &__box {
    @include flex($alignwrap: center);
    flex-flow: row wrap;
    gap: 2rem;
    width: 97%;
    @include fix(tablet) {
      width: 100%;
    }
    @include fix(phone) {
      flex-flow: column wrap;
      gap: 1.6rem;
    }
  }
  &__img {
    width: 29%;
    height: 10%;
    filter: grayscale(100%);
    transition: filter 0s;
    &:hover {
      filter: grayscale(0);
    }
    @include fix(tablet) {
      flex: 1;
    }
    @include fix(phone) {
      width: 100%;
    }
  }
}
.comment {
  @extend .article;

  &__header {
    @extend .gallery__heading;
  }
}
.form {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 40%;
  margin-top: 4rem;

  &__label {
    @include text-size(1.8rem, 1.3rem);
    @include text-style(700, $silver);
    margin: 0.4rem;
  }
  &__img {
    margin: 0rem 0rem -7.3rem -6rem;
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
  }
  &__input {
    padding: 1.5rem;
    min-width: 4.8rem;
    border-radius: 0.4rem;
    border: 1px solid $mercury;
    box-sizing: border-box;
    background-color: $alabaster;
    &:focus {
      outline: 1px solid $bandsite-black;
    }
  }
  &__input-comment {
    min-height: 13rem;
    min-width: 13rem;
    box-sizing: border-box;
    border-radius: 0.4rem;
    border: 1px solid $mercury;
    background-color: $alabaster;
    &:focus {
      outline: 1px solid $bandsite-black;
    }
  }
}
// .btn {
//   background-color: $black;
//   align-self: flex-end;
//   display: inline-flex;
//   justify-content: center;
//   border: none;
//   border-radius: 0.4rem;
//   text-transform: uppercase;
//   padding: 0 3.2rem;
//   height: 4.8rem;
//   min-width: 15rem;
//   margin-top: 2rem;
//   @include text-size(1.8rem, 1.3rem);
//   @include text-style(700, white);
//   &:hover {
//     background-color: $bandsite-black;
//   }
// }
