@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.herobox {
  background-image: linear-gradient(
      to top,
      rgb(50, 50, 50, 0.5),
      rgb(50, 50, 50, 0.5)
    ),
    url("../assets/Images/hero-bio.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60vw;
  max-width: 100%;
  @include flex;
  @include fix(tablet) {
    max-height: 60vw;
  }
  @include fix(phone) {
    max-height: 60vw;
  }

  &__text {
    @include text-style(700, white);
    @include text-size(6.8rem, 6rem);
    width: 86%;
    @include fix(tablet) {
      width: 100%;
      padding: 0rem 3.6rem;
    }
    @include fix(phone) {
      max-height: 60vw;
      padding: 0 1.6rem 0 1.6rem;
      @include text-size(3.2rem, 2.4rem);
    }
  }
}
.article {
  background-color: white;
  @include flex($direction: column);
  gap: 3.6rem;
  padding: 4.8rem 3.6rem 3.6rem 3.6rem;
  @include fix(phone) {
    padding: 2.4rem 1.6rem 1.6rem 1.6rem;
    gap: 1.6rem;
  }

  &__heading {
    @include text-style(700);
    @include text-size(4.4rem, 3.6rem);
    display: flex;
    width: 87%;
    @include fix(tablet) {
      width: 100%;
    }
    @include fix(phone) {
      @include text-size(3.2rem, 2.4rem);
    }
  }
  &__image {
    display: inline-flex;
    width: 100%;
    max-height: 43vw;
    @include fix(tablet) {
      max-height: 48vw;
    }
    @include fix(phone) {
      max-height: 55vw;
    }
  }
  &__caption {
    @include text-style(600);
    @include text-size(3.2rem, 2.4rem);
    width: 81%;
    padding-top: 3.6rem;
    @include fix(tablet) {
      width: 100%;
    }
    @include fix(phone) {
      padding-top: 1.6rem;
      @include text-size(2.2rem, 1.4rem);
    }
    &--mod {
      @include text-style(700);
      @include text-size(2.2rem, 1.4rem);
      padding-top: 2rem;
      @include fix(phone) {
        padding-top: 1rem;
        @include text-size(2rem, 1.3rem);
      }
    }
  }
  &__box {
    align-self: center;
    @include flex($direction: column, $items: flex-start);
    width: 76%;
    @include fix(tablet) {
      width: 90%;
    }
    @include fix(phone) {
      width: 100%;
    }
  }
  &__text-box {
    align-self: center;
    @include flex($direction: column, $items: flex-start);
    gap: 3.6rem;
    width: 76%;
    margin-top: 1rem;
    @include fix(tablet) {
      width: 90%;
    }
    @include fix(phone) {
      width: 100%;
      gap: 1.6rem;
      margin-top: 0.8rem;
    }
  }
  &__wrapper {
    @include flex($content: space-between);
    gap: 1rem;
    @include fix(phone) {
      gap: 1.6rem;
    }
    @include fix(phone) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__sub-heading {
    @extend .article__caption;
    padding-top: 0;
  }
  &__text {
    @include text-size(2.2rem, 1.4rem);
    @include text-style(400);
    font-size: 1.4rem;
    width: 44%;
    padding: 0;
    @include fix(phone) {
      @include text-size(1.8rem, 1.3rem);
      width: 100%;
    }
  }
}
.gallery {
  background-color: $alabaster;
  padding: 4.8rem 3.6rem 3.6rem 3.6rem;
  @include flex($direction: column);

  gap: 3.6rem;
  @include fix(phone) {
    padding: 2.4rem 1.6rem 2.4rem 1.6rem;
    gap: 1.6rem;
  }

  &__heading {
    @extend .article__heading;
    width: 87%;
    display: flex;
    @include fix(tablet) {
      width: 100%;
    }
  }
  &__box {
    @include flex($alignwrap: center);
    flex-flow: row wrap;
    gap: 2rem;
    width: 97%;
    @include fix(tablet) {
      width: 100%;
    }
    @include fix(phone) {
      flex-flow: column wrap;
      gap: 1.6rem;
    }
  }
  &__img {
    width: 29%;
    height: 10%;
    filter: grayscale(100%);
    transition: filter 0s;
    &:hover {
      filter: grayscale(0);
    }
    @include fix(tablet) {
      flex: 1;
    }
    @include fix(phone) {
      width: 100%;
    }
  }
}
