@use "./partials/variables" as *;
@use "./partials/mixins" as *;

* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
// for desktop>>
.nav {
  background-color: $black;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @include fix(tablet) {
    height: 9rem;
  }
  &__wrapper {
    width: 86%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6rem;
    padding: 0 3.6rem 0 3.6rem;
    @include fix(tablet) {
      width: 100%;
    }
  }
  &__logo {
    max-width: 12rem;
    max-height: 2rem;
  }

  &__bar {
    flex: 0 0 13%;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    @include fix(tablet) {
      gap: 2.2rem;
    }
  }
  &__link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    @include text-style(600, white);
    @include text-size(2.2rem, 1.4rem);
    &:hover {
      opacity: 100%;
      border-bottom: 5px solid white;
    }
  }
}
.herobox {
  background-image: linear-gradient(
      to top,
      rgb(50, 50, 50, 0.5),
      rgb(50, 50, 50, 0.5)
    ),
    url("../ assets/Images/hero-bio.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70rem;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__text {
    @include text-style(700, white);
    @include text-size(6.8rem, 6rem);
    width: 86%;
    @include fix(tablet) {
      width: 100%;
      padding: 0rem 3.6rem;
    }
  }
}
.article {
  display: flex;
  gap: 3.6rem;
  flex-direction: column;
  align-items: center;
  padding: 4.8rem 3.6rem 3.6rem 3.6rem;

  &__heading {
    @include text-style(700);
    @include text-size(4.4rem, 3.6rem);
    display: flex;
    width: 87%;
    @include fix(tablet) {
      width: 100%;
    }
  }
  &__image {
    display: inline-flex;
    width: 100%;
    max-height: 70rem;
    @include fix(tablet) {
      max-height: 56rem;
    }
  }
  &__caption {
    @include text-style(600);
    @include text-size(3.2rem, 2.4rem);
    width: 81%;
    padding-top: 3.6rem;
    @include fix(tablet) {
      width: 100%;
    }
    &--mod {
      @include text-style(400);
      @include text-size(2.2rem, 1.4rem);
      padding-top: 2rem;
    }
  }
  &__box {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 76%;
    @include fix(tablet) {
      width: 90%;
    }
  }
  &__text-box {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
    width: 76%;
    margin-top: 1rem;
    @include fix(tablet) {
      width: 90%;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }
  &__sub-heading {
    @extend .article__caption;
    padding-top: 0;
  }
  &__text {
    @extend .article__caption--mod;
    width: 44%;
    padding: 0;
  }
}
.gallery {
  background-color: $alabaster;
  padding: 4.8rem 3.6rem 3.6rem 3.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.6rem;

  &__heading {
    @extend .article__heading;
    width: 87%;
    display: flex;
    @include fix(tablet) {
      width: 100%;
    }
  }
  &__box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    width: 97%;
    @include fix(tablet) {
      width: 100%;
    }
  }
  &__img {
    width: 29%;
    height: 10%;
    filter: grayscale(100%);
    transition: filter 0s;
    &:hover {
      filter: grayscale(0);
    }
    @include fix(tablet) {
      flex: 1;
    }
  }
}

.footer {
  background-color: $black;
  padding: 4.8rem 3.6rem 3.6rem 3.6rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    width: 88%;
    @include fix(tablet) {
      width: 100%;
    }
  }
  &__text-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
  }

  &__company {
    padding-bottom: 2.6rem;
  }
  &__address {
    @extend .footer__company;
  }
  &__txt--light {
    @include text-style(400, white);
    @include text-size(2rem, 1.4rem);
  }
  &__txt--bold {
    @extend .footer__txt--light;
    font-weight: 600;
  }
  &__heading {
    @include text-style(700);
    @include text-size(4.4rem, 3.6rem);
    color: white;
    margin: 0;
  }
  &__logo-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // @include fix(tablet) {
    //   gap: 3rem;
    // }
  }
  &__wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
  }
  &__logo-wrapper {
    flex-basis: 14rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  &__logo {
    @extend .nav__logo;
    flex: 0 0 25%;
    // margin-left: 2.5rem;
  }
  &__logo-top {
    @extend .nav__logo;
  }
  &__logo-bottom {
    @extend .nav__logo;
    display: none;
  }
}
