@use "./partials/variables" as *;
@use "./partials/mixins" as *;
* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}
.nav {
  background-color: $black;
  height: 8rem;
  @include flex;
  @include fix(tablet) {
    height: 9rem;
  }
  @include fix(phone) {
    height: auto;
  }
  &__wrapper {
    width: 86%;
    height: 100%;
    @include flex($content: flex-start);
    gap: 6rem;
    padding: 0 3.6rem 0 3.6rem;
    @include fix(tablet) {
      width: 100%;
    }
    @include fix(phone) {
      @include flex($content: center, $direction: column);
      align-self: stretch;
      padding: 0;
      gap: 1rem;
    }
  }

  &__logo {
    max-width: 12rem;
    max-height: 2rem;
    @include fix(phone) {
      padding: 1.5rem 0 0 0;
    }
  }

  &__bar {
    flex: 0 0 13%;
    @include flex($content: space-between);
    gap: 2rem;
    align-self: stretch;
    @include fix(tablet) {
      gap: 2.2rem;
    }
    @include fix(phone) {
      gap: 0;
    }
  }
  &__link {
    @include flex;
    @include text-style(400, $mercury);
    @include text-size(2.2rem, 1.4rem);
    height: 92%;
    text-decoration: none;
    transition: 0s;
    &:hover {
      color: white;
      border-bottom: 5px solid white;
    }
    &--active {
      border-bottom: 5px solid white;
      color: white;
      font-weight: 700;
    }
    @include fix(phone) {
      @include text-size(1.8rem, 1.3rem);
      flex-basis: 50%;
    }
  }
}
.herobox {
  background-image: linear-gradient(
      to top,
      rgb(50, 50, 50, 0.5),
      rgb(50, 50, 50, 0.5)
    ),
    url("../assets/Images/hero-bio.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60vw;
  max-width: 100%;
  @include flex;
  @include fix(tablet) {
    max-height: 60vw;
  }
  @include fix(phone) {
    max-height: 60vw;
  }

  &__text {
    @include text-style(700, white);
    @include text-size(6.8rem, 6rem);
    width: 86%;
    @include fix(tablet) {
      width: 100%;
      padding: 0rem 3.6rem;
    }
    @include fix(phone) {
      max-height: 60vw;
      padding: 0 1.6rem 0 1.6rem;
      @include text-size(3.2rem, 2.4rem);
    }
  }
}
.footer {
  @include flex;
  background-color: $black;
  padding: 4.8rem 3.6rem 3.6rem 3.6rem;
  @include fix(phone) {
    padding: 2.4rem 1.6rem 2.4rem 1.6rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    width: 88vw;
    @include fix(tablet) {
      width: 100%;
    }
    @include fix(phone) {
      gap: 2.4rem;
    }
  }
  &__text-box {
    @include flex($content: flex-start);
    gap: 4rem;
    @include fix(phone) {
      @include flex($direction: column, $items: flex-start, $alignwrap: center);
      gap: 2.4rem;
    }
  }

  &__company {
    padding-bottom: 2.6rem;
    @include fix(phone) {
      padding: 0 0 1.6rem 0;
    }
  }
  &__address {
    @extend .footer__company;
  }
  &__txt--light {
    @include text-style(400, white);
    @include text-size(2rem, 1.4rem);
    @include fix(phone) {
      @include text-size(1.8rem, 1.3rem);
    }
  }
  &__txt--bold {
    @extend .footer__txt--light;
    font-weight: 600;
  }
  &__heading {
    @include text-style(700);
    @include text-size(4.4rem, 3.6rem);
    color: white;
    margin: 0;
    @include fix(phone) {
      @include text-size(3.2rem, 2.4rem);
      width: 14rem;
      margin-right: 5rem;
    }
  }
  &__logo-box {
    @include flex($content: space-between);
    width: 100%;
    @include fix(phone) {
      max-width: 44vw;
    }
  }

  &__copy-box {
    @include fix(phone) {
      @include flex($items: flex-start, $direction: column);
      padding-top: 2.4rem;
      gap: 1.6rem;
    }
  }
  &__wrapper {
    flex: 1;
    @include flex($content: flex-start);
    gap: 1.5rem;
    @include fix(phone) {
      flex-wrap: wrap;
      align-content: center;
    }
  }
  &__logo-wrapper {
    flex-basis: 14rem;
    @include flex($content: space-evenly);
    @include fix(phone) {
      justify-content: flex-start;
      gap: 1.5rem;
    }
  }
  &__logo {
    @extend .nav__logo;
    flex: 0 0 25%;
    @include fix(phone) {
      flex: 0 0 20%;
      padding: 0;
    }
  }
  &__logo-top {
    @extend .nav__logo;
    padding: 0;

    @include fix(phone) {
      display: none;
    }
  }
  &__logo-bottom {
    @extend .nav__logo;
    display: none;
    padding: 0;
    @include fix(phone) {
      display: inline-flex;
    }
  }
}
.label {
  @include text-size(1.8rem, 1.2rem);
  @include text-style(700, $silver);
  text-transform: uppercase;
  @include fix(phone) {
    font-size: 1rem;
  }
}
.btn {
  background-color: $black;
  @include flex($items: stretch);
  align-self: flex-end;
  border: none;
  border-radius: 0.4rem;
  text-transform: uppercase;
  padding: 0 3.2rem;
  height: 4.8rem;
  min-width: 15rem;
  margin-top: 2rem;
  @include text-size(2rem, 1.2rem);
  @include text-style(700, white);
  @include fix(phone) {
    font-size: 1rem;
  }
  &:hover {
    background-color: $bandsite-black !important;
  }
  &--bio {
    @include fix(phone) {
      width: 100%;
    }
  }
}
