@font-face {
  font-family: "avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.eot");
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Regular.ttf") format("truetype"), url("../../assets/fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.eot");
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Bold.ttf") format("truetype"), url("../../assets/fonts/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.eot");
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Demi.ttf") format("truetype"), url("../../assets/fonts/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold_1.eot");
  src: url("../../assets/fonts/AvenirNextLTPro-Bold_1.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/AvenirNextLTPro-Bold_1.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Bold_1.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Bold_1.ttf") format("truetype"), url("../../assets/fonts/AvenirNextLTPro-Bold_1.svg#AvenirNextLTPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular_1.eot");
  src: url("../../assets/fonts/AvenirNextLTPro-Regular_1.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/AvenirNextLTPro-Regular_1.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Regular_1.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Regular_1.ttf") format("truetype"), url("../../assets/fonts/AvenirNextLTPro-Regular_1.svg#AvenirNextLTPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi_1.eot");
  src: url("../../assets/fonts/AvenirNextLTPro-Demi_1.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/AvenirNextLTPro-Demi_1.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Demi_1.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Demi_1.ttf") format("truetype"), url("../../assets/fonts/AvenirNextLTPro-Demi_1.svg#AvenirNextLTPro-Demi") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

.hero,
.table {
  padding: 4.8rem 3.6rem 3.6rem 3.6rem;
}

.hero {
  background-image: linear-gradient(to top, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/Images/hero-shows.jpg");
  justify-content: space-evenly;
  height: 55vw;
}
@media screen and (max-width: 1279px) {
  .hero {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    align-content: stretch;
    gap: 3.6rem;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    padding: 0 1.6rem 0 1.6rem;
    align-items: center;
    gap: 1.6rem;
    min-height: 75vw;
  }
}
.hero__wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  align-content: stretch;
  width: 48vw;
  gap: 3.6vh;
}
@media screen and (max-width: 767px) {
  .hero__wrapper {
    width: 100%;
    align-items: flex-start;
    gap: 1.6rem;
  }
}
.hero__text {
  font-family: "avenir";
  font-weight: 600;
  color: white;
  font-size: 2.4rem;
  line-height: 3.2rem;
}
@media screen and (max-width: 767px) {
  .hero__text {
    font-size: 1.4rem;
    line-height: 2.2rem;
    width: 40vw;
    font-weight: 400;
  }
}
.hero__text-dif {
  font-family: "avenir";
  font-weight: 700;
  color: white;
  font-size: 6rem;
  line-height: 6.8rem;
}
@media screen and (max-width: 767px) {
  .hero__text-dif {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}
.hero__scloud {
  min-width: 39%;
  height: 14vw;
}
@media screen and (max-width: 1279px) {
  .hero__scloud {
    min-width: 70%;
    height: 24vw;
  }
}
@media screen and (max-width: 767px) {
  .hero__scloud {
    min-width: 100%;
    height: 26vw;
  }
}

.table {
  background-color: white;
}
@media screen and (max-width: 767px) {
  .table {
    padding: 2.4rem 1.6rem 1.6rem 1.6rem;
  }
}
.table__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: stretch;
  gap: 1.6rem;
}
@media screen and (max-width: 767px) {
  .table__wrapper {
    gap: 0;
  }
}
.table__text-content {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  align-content: stretch;
  align-self: center;
  width: 92%;
}
@media screen and (max-width: 1279px) {
  .table__text-content {
    width: 100%;
    gap: 3.6rem;
    flex-direction: column;
  }
}
.table__heading {
  font-family: "avenir";
  font-weight: 700;
  color: #323232;
  font-size: 3.6rem;
  line-height: 4.4rem;
  margin-right: 13%;
}
@media screen and (max-width: 767px) {
  .table__heading {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}
.table__ticket-wrapper {
  min-width: 66%;
  display: flex;
  align-items: inherit;
  justify-content: center;
  flex-direction: column;
  align-content: stretch;
  margin-left: 15%;
}
.table__ticket-wrapper :hover {
  background-color: #fafafa;
  background-position: cover;
}
@media screen and (max-width: 1279px) {
  .table__ticket-wrapper {
    min-width: 100%;
    align-items: center;
    margin: 0;
  }
}

.table__box {
  display: flex;
  align-items: flex-end;
  justify-content: stretch;
  flex-direction: row;
  align-content: stretch;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .table__box {
    display: none;
  }
}
.table__box-date, .table__box-venue, .table__box-location {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-family: "avenir";
  font-weight: 700;
  color: #afafaf;
  text-transform: uppercase;
}
.table__box-date {
  min-width: 23%;
}
@media screen and (max-width: 1279px) {
  .table__box-date {
    min-width: 27%;
  }
}
.table__box-venue {
  min-width: 24.5%;
}
@media screen and (max-width: 1279px) {
  .table__box-venue {
    min-width: 25%;
  }
}
.table__box-location {
  min-width: auto;
}

.ticket {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  align-content: stretch;
  width: 100%;
  padding: 2.4rem 1.8rem;
  border-bottom: 1px solid #e1e1e1;
}
@media screen and (max-width: 1279px) {
  .ticket {
    justify-content: space-between;
  }
}
@media screen and (max-width: 767px) {
  .ticket {
    flex-direction: column;
    gap: 1rem;
  }
}
.ticket__active {
  background-color: #e1e1e1;
}
.ticket__date, .ticket__name, .ticket__place, .ticket__btn {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-family: "avenir";
  font-weight: 700;
  color: #323232;
  min-width: 22%;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .ticket__date {
    align-self: flex-start;
  }
}
.ticket__name, .ticket__place {
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  .ticket__name, .ticket__place {
    width: 100%;
  }
}
.ticket__btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  align-content: stretch;
  color: white;
}
@media screen and (max-width: 767px) {
  .ticket__btn {
    width: 100%;
  }
}
.ticket__label {
  display: none;
}
@media screen and (max-width: 1279px) {
  .ticket__label {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .ticket__label {
    align-self: flex-start;
    display: flex;
  }
}