@font-face {
  font-family: "avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.eot");
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Regular.ttf") format("truetype"), url("../../assets/fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.eot");
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Bold.ttf") format("truetype"), url("../../assets/fonts/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.eot");
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Demi.ttf") format("truetype"), url("../../assets/fonts/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold_1.eot");
  src: url("../../assets/fonts/AvenirNextLTPro-Bold_1.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/AvenirNextLTPro-Bold_1.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Bold_1.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Bold_1.ttf") format("truetype"), url("../../assets/fonts/AvenirNextLTPro-Bold_1.svg#AvenirNextLTPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular_1.eot");
  src: url("../../assets/fonts/AvenirNextLTPro-Regular_1.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/AvenirNextLTPro-Regular_1.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Regular_1.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Regular_1.ttf") format("truetype"), url("../../assets/fonts/AvenirNextLTPro-Regular_1.svg#AvenirNextLTPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi_1.eot");
  src: url("../../assets/fonts/AvenirNextLTPro-Demi_1.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/AvenirNextLTPro-Demi_1.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Demi_1.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Demi_1.ttf") format("truetype"), url("../../assets/fonts/AvenirNextLTPro-Demi_1.svg#AvenirNextLTPro-Demi") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

.hero {
  background-image: linear-gradient(to top, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/Images/hero-shows.jpg");
  justify-content: space-evenly;
}
@media screen and (max-width: 1279px) {
  .hero {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3.6rem;
    padding: 4.8rem 3.6rem 3.6rem 3.6rem;
  }
}
.hero__box {
  display: flex;
  flex-direction: column;
}
.hero__text {
  font-family: "avenir";
  font-weight: 600;
  color: white;
  font-size: 2.4rem;
  line-height: 3.2rem;
}
.hero__text-dif {
  font-family: "avenir";
  font-weight: 700;
  color: white;
  font-size: 6rem;
  line-height: 6.8rem;
}
.hero__scloud {
  min-width: 40%;
  height: 11vw;
}

.table {
  background-color: white;
  padding: 4.8rem 3.6rem 3.6rem 3.6rem;
}
.table__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.6rem;
}
.table__text-content {
  width: 77%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 15rem;
}
@media screen and (max-width: 1279px) {
  .table__text-content {
    width: 100%;
    gap: 3.6rem;
    flex-wrap: wrap;
  }
}
.table__heading {
  font-family: "avenir";
  font-weight: 700;
  color: #323232;
  font-size: 3.6rem;
  line-height: 4.4rem;
}
@media screen and (max-width: 1279px) {
  .table__heading {
    width: 100%;
  }
}
.table__box {
  flex-basis: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 1279px) {
  .table__box {
    flex-basis: 100%;
  }
}
.table__text {
  width: 35%;
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-family: "avenir";
  font-weight: 700;
  color: #afafaf;
  text-transform: uppercase;
}
@media screen and (max-width: 1279px) {
  .table__text {
    width: 23%;
  }
}
.table__text--mod {
  width: 23%;
  margin-right: 1rem;
}
.table__ticket-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
@media screen and (max-width: 1279px) {
  .table__ticket-wrapper {
    justify-content: flex-start;
  }
}

.ticket {
  width: 67.5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 1279px) {
  .ticket {
    width: 94%;
    gap: 6rem;
  }
}
.ticket__date, .ticket__name, .ticket__place {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-family: "avenir";
  font-weight: 700;
  color: #323232;
}
.ticket__date {
  min-width: 29%;
}
@media screen and (max-width: 1279px) {
  .ticket__date {
    min-width: 18%;
  }
}
.ticket__name {
  font-weight: 400;
  width: 20%;
}
@media screen and (max-width: 1279px) {
  .ticket__name {
    min-width: 18%;
  }
}
.ticket__place {
  font-weight: 400;
  width: 20%;
  margin-right: 2rem;
}
@media screen and (max-width: 1279px) {
  .ticket__place {
    min-width: 17%;
  }
}
.ticket__btn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}