@use "./partials/variables" as *;
@use "./partials/mixins" as *;
* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}
.hero {
  background-image: linear-gradient(
      to top,
      rgb(50, 50, 50, 0.5),
      rgb(50, 50, 50, 0.5)
    ),
    url("../assets/Images/hero-shows.jpg");
  justify-content: space-evenly;
  @include fix(tablet) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3.6rem;
    padding: 4.8rem 3.6rem 3.6rem 3.6rem;
  }
  &__box {
    display: flex;
    flex-direction: column;
  }
  &__text {
    @include text-style(600, white);
    @include text-size(3.2rem, 2.4rem);
  }
  &__text-dif {
    @include text-style(700, white);
    @include text-size(6.8rem, 6rem);
  }
  &__scloud {
    min-width: 40%;
    height: 11vw;
  }
}
.table {
  background-color: white;
  padding: 4.8rem 3.6rem 3.6rem 3.6rem;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.6rem;
  }
  &__text-content {
    width: 77%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 15rem;
    @include fix(tablet) {
      width: 100%;
      gap: 3.6rem;
      flex-wrap: wrap;
    }
  }
  &__heading {
    @include text-style(700);
    @include text-size(4.4rem, 3.6rem);
    @include fix(tablet) {
      width: 100%;
    }
  }
  &__box {
    flex-basis: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include fix(tablet) {
      flex-basis: 100%;
    }
  }

  &__text {
    width: 35%;
    @include text-size(1.8rem, 1.3rem);
    @include text-style(700, $silver);
    text-transform: uppercase;
    @include fix(tablet) {
      width: 23%;
    }
    &--mod {
      width: 23%;
      margin-right: 1rem;
    }
  }
  &__ticket-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    @include fix(tablet) {
      justify-content: flex-start;
    }
  }
}
.ticket {
  width: 67.5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include fix(tablet) {
    width: 94%;
    gap: 6rem;
  }
  &__date,
  &__name,
  &__place {
    @include text-size(1.8rem, 1.3rem);
    @include text-style(700, $black);
  }
  &__date {
    min-width: 29%;
    @include fix(tablet) {
      min-width: 18%;
    }
  }

  &__name {
    font-weight: 400;
    width: 20%;
    @include fix(tablet) {
      min-width: 18%;
    }
  }
  &__place {
    font-weight: 400;
    width: 20%;
    margin-right: 2rem;
    @include fix(tablet) {
      min-width: 17%;
    }
  }
  &__btn {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}
