@use "./variables" as *;
@import url(./_fonts.scss);
// Query Manager
@mixin fix($breakpoint) {
  @if $breakpoint == tablet {
    @media screen and (max-width: $tablet) {
      @content;
    }
  }
  @if $breakpoint == phone {
    @media screen and (max-width: $mobile) {
      @content;
    }
  }
}

//Fonts
@mixin text-style($w, $c: $black) {
  font-family: "avenir";
  font-weight: $w;
  color: $c;
}
@mixin text-size($lh, $s: 2.2rem) {
  font-size: $s;
  line-height: $lh;
}
